Source: usb-moded
Section: misc
Priority: optional
Maintainer: Philippe De Swert <philippe.de-swert@nokia.com>
Build-Depends: debhelper (>= 5), autoconf, automake, libdbus-1-dev, libdbus-glib-1-dev, libglib2.0-dev, libgconf2-dev, doxygen, aegis-builder, libudev-dev
Standards-Version: 3.8.0

Package: usb-moded
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, lsof
Description: usb_moded - USB mode controller
 Usb_moded is a daemon to control the USB states. For this
 it loads unloads the relevant usb gadget modules, keeps track
 of the filesystem(s) and notifies about changes on the DBUS
 system bus.

Package: usb-moded-doc
Section: doc
Architecture: any
Depends: usb-moded (= ${binary:Version}), ${misc:Depends}
Description: usb_moded - USB mode controller - documentation
 Usb_moded is a daemon to control the USB states. For this
 it loads unloads the relevant usb gadget modules, keeps track
 of the filesystem(s) and notifies about changes on the DBUS
 system bus.
 === This package contains the documentation ===

Package: usb-moded-dbg
Section: debug
Architecture: any
Depends: usb-moded (= ${binary:Version}), ${misc:Depends}
Priority: extra
Description: usb_moded - USB mode controller - Debug symbols
 Usb_moded is a daemon to control the USB states. For this
 it loads unloads the relevant usb gadget modules, keeps track
 of the filesystem(s) and notifies about changes on the DBUS
 system bus.
 === This package contains the debug symbols ===

Package: usb-moded-dev
Architecture: any
Depends: ${misc:Depends}, libdbus-1-dev
Description: usb_moded - USB mode controller - development files
 Usb_moded is a daemon to control the USB states. For this
 it loads unloads the relevant usb gadget modules, keeps track
 of the filesystem(s) and notifies about changes on the DBUS
 system bus.
 === This package contains the files needed to program for usb_moded ===

